body {
  font-family: Ubuntu, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
}

.column-full {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

.column-one-seventh {
  display: flex;
  flex-basis: calc(100% / 7);
  justify-content: center;
}

.days-button {
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: white;
}

.days-button:hover {
  background-color: rgba(128, 128, 128, 0.406);
  cursor: pointer;
}

.add-button {
  text-align: center;
  margin-top: 2rem;
  border-style: outset;
  width: 130px;
  height: 30px;
  background-color: white;
}

button:hover {
  background-color: rgba(128, 128, 128, 0.406);
  cursor: pointer;
}

h1 {
  text-align: center;
}

thead > tr {
  background-color: rgba(128, 128, 128, 0.565);
  text-align: left;
}

tbody > tr:nth-child(odd) {
  background-color: lightgray;
}

table {
  border: 1px solid black;
  border-spacing: 0;
  width: 90%;
  font-size: 12px;
}

.border-line {
  border-right: 1px solid black;
}

td {
  padding: 5px 0;
}
