body {
  font-family: Ubuntu, sans-serif;
}

.add-window-entry {
  box-shadow: 0 0 1400px 1400px rgb(0 0 0 / 75%);
  background-color: white;
  position: fixed;
  margin: auto;
  top: 0;
  left: 50px;
  bottom: 200px;
  right: 50px;
  width: 500px;
  height: 250px;
}

.hidden {
  display: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
}

.column-full {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

.column-one-seventh {
  display: flex;
  flex-basis: calc(100% / 7);
  justify-content: center;
}

.days-button {
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: white;
}

.days-button:hover {
  background-color: rgba(128, 128, 128, 0.406);
  cursor: pointer;
}

.add-button {
  text-align: center;
  margin-top: 2rem;
  border-style: outset;
  width: 130px;
  height: 30px;
  background-color: white;
}

.add-button:hover {
  background-color: #95bcf2;
  cursor: pointer;
}

h1 {
  text-align: center;
}

thead > tr {
  background-color: rgba(128, 128, 128, 0.565);
  text-align: left;
}

tbody > tr:nth-child(odd) {
  background-color: lightgray;
}

table {
  border: 1px solid black;
  border-spacing: 0;
  width: 90%;
  font-size: 12px;
}

.border-line {
  border-right: 1px solid black;
}

td {
  padding: 5px 0;
}

.modal {
  background-color: #4a73dbfc;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 25px;
  margin: 10px;
}

.modal-off {
  background-color: #ff6e6e;
  color: white;
  border: none;
  flex-basis: center;
  border-radius: 3px;
  padding: 10px 25px;
  margin: 10px;
}
